#award{
	width: 100%;
	height: 100%;
	background: url(../img/award.jpg) no-repeat;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	-webkit-flex-direction: column;
	overflow: hidden;
	.year{
		height: 18.85%;
	}
	.count{
		font-size: 0.28rem;
		width: 3.2rem;
		margin: 0 auto;
		margin-top: 0.4rem;
		position: relative;
		span{
			display: inline-block;
			color: white;
			background-color: #d3282b;
			border: 1px solid #ae2123;
			border-radius: 2px;
			width: 0.26rem;
			height: 0.28rem;
			text-align: center;
			margin:0 0.05rem;
		}
		img{
			position: absolute;
			top: 50%;
			margin-top: -0.1rem;
			height: 0.2rem;
		}
		img:nth-child(1){
			left: 102%;
			
		}
		img:nth-child(2){
			right: 102%;
			transform: rotate(180deg);
		}
	}
	.gz{
		margin-top: 0.2rem;
		width: 92.5%;
		position: relative;
		
		img{
			width: 100%;
		}
		.gzBox {
			margin-top: 5.2%;
			width: 92%;
			position: absolute;
			top: 0;
			left: 4%;
			.gzChild {
				width: 32%;
				margin-right:2%;
				margin-bottom:1%;
				position:relative;
				img {
					width: 100%;
				}
				.mc{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 2;
					background-color: rgba(229,202,151,0.5);
					display: none;
				}
				.btn{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 5;
					background-color: rgba(229,202,151,0);
				}
			}
			.gzChild:nth-child(3n){
				margin-right: 0;
			}
		}
		.hand{
			position: absolute;
			width: 42px;
			left: 50%;
			top: 60%;
			margin-left: -21px;
		}
	}
	.logo{
		width: 29.87%;
		margin-top: 0.4rem;
	}
}
img{
	display: block;
}
*{
	font-family: 'fsb';
}
@font-face {
	font-family: 'fsb';
	src: url('../font/fsb.TTF');
	color: #111111;
}
.popWindow{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	-webkit-flex-direction: column;
	overflow: hidden;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
	img{
		width: 84.93%;
	}
	input{
		width: 11.07%;
		margin: 0 auto;
		margin-top: 0.2rem;
	}
}
.flower{
    position: absolute;
    left: 5%;
    top: -8%;
    width: 8.8%;
}
.flower1
{
    left: 5%;
    animation: myfirst 9s linear 3.5s infinite;
    -moz-animation: myfirst 9s linear 3.5s infinite; /* Firefox */
    -webkit-animation: myfirst 9s linear 3.5s infinite;  /* Safari 和 Chrome */
   -ms-animation: myfirst 9s linear 3.5s infinite; 
}
.flower2
{
    left: 20%;
    animation: myfirst 9s linear 1s infinite;
    -moz-animation: myfirst 9s linear 1s infinite; /* Firefox */
    -webkit-animation: myfirst 9s linear 1s infinite;  /* Safari 和 Chrome */
   -ms-animation: myfirst 9s linear 1s infinite; 
}
.flower3
{
    left: 40%;
    animation: myfirst 9s linear 2.5s infinite;
    -moz-animation: myfirst 9s linear 2.5s infinite; /* Firefox */
    -webkit-animation: myfirst 9s linear 2.5s infinite;  /* Safari 和 Chrome */
   -ms-animation: myfirst 9s linear 2.5s infinite; 
}
.flower4
{
    left: 60%;
    animation: myfirst 9s linear infinite;
    -moz-animation: myfirst 9s linear infinite; /* Firefox */
    -webkit-animation: myfirst 9s linear infinite;  /* Safari 和 Chrome */
   -ms-animation: myfirst 9s linear infinite; 
}
.flower5
{
    left: 80%;
    animation: myfirst 9s linear 2s infinite;
    -moz-animation: myfirst 9s linear 2s infinite; /* Firefox */
    -webkit-animation: myfirst 9s linear 2s infinite;  /* Safari 和 Chrome */
   -ms-animation: myfirst 9s linear 2s infinite; 
}
.flower6
{
    left: 3%;
    animation: myfirst 9s linear 5.5s infinite;
    -moz-animation: myfirst 9s linear 5.5s infinite; /* Firefox */
    -webkit-animation: myfirst 9s linear 5.5s infinite;  /* Safari 和 Chrome */
   -ms-animation: myfirst 9s linear 5.5s infinite; 
}
.flower7
{
    left: 22%;
    animation: myfirst 9s linear 6.5s infinite;
    -moz-animation: myfirst 9s linear 6.5s infinite; /* Firefox */
    -webkit-animation: myfirst 9s linear 6.5s infinite;  /* Safari 和 Chrome */
   -ms-animation: myfirst 9s linear 6.5s infinite; 
}
.flower8
{
    left: 43%;
    animation: myfirst 9s linear 7.5s infinite;
    -moz-animation: myfirst 9s linear 7.5s infinite; /* Firefox */
    -webkit-animation: myfirst 9s linear 7.5s infinite;  /* Safari 和 Chrome */
   -ms-animation: myfirst 9s linear 7.5s infinite; 
}
.flower9
{
    left: 65%;
    animation: myfirst 9s linear 4.5s infinite;
    -moz-animation: myfirst 9s linear 4.5s infinite; /* Firefox */
    -webkit-animation: myfirst 9s linear 4.5s infinite;  /* Safari 和 Chrome */
   -ms-animation: myfirst 9s linear 4.5s infinite; 
}
.flower10
{
    left: 88%;
    animation: myfirst 9s linear 8.5s infinite;
    -moz-animation: myfirst 9s linear 8.5s infinite; /* Firefox */
    -webkit-animation: myfirst 9s linear 8.5s infinite;  /* Safari 和 Chrome */
   -ms-animation: myfirst 9s linear 8.5s infinite; 
}
@keyframes myfirst
{
    from {top: -5%;transform: rotate(0deg);}
    to {top: 100%;transform: rotate(1080deg);}
}

@-moz-keyframes myfirst /* Firefox */
{
    from {top: -5%;transform: rotate(0deg);}
    to {top: 100%;transform: rotate(1080deg);}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    from {top: -5%;transform: rotate(0deg);}
    to {top: 100%;transform: rotate(1080deg);}
}
@-m-keyframes myfirst /* Safari 和 Chrome */
{
    from {top: -5%;transform: rotate(0deg);}
    to {top: 100%;transform: rotate(1080deg);}
}